    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'Arial', 'Helvetica Neue', 'Helvetica', 'sans-serif';
    }
    
    body {
        background-image: url('../images/dynamic-style.png')repeat;
        min-height: 100%;
        border-color: #dddddd;
        background-color: grey;
    }
    
    .wrapper {
        width: 960px;
        padding: 20px;
        margin: 0 auto;
    }
    
    #myName {
        display: inline-block;
        background-color: #4aaaa5;
        text-align: center;
        width: 300px;
        color: white;
    }
    
    #navBar {
        width: 90%;
        background-color: #ffffff;
        float: center;
        text-align: center;
    }
    
    #navBar a {
        display: inline-block;
        margin: 16px;
        text-decoration: none;
        color: #777777;
        font-family: 'Arial', 'Helvetica Neue', 'Helvetica', 'sans-serif';
    }
    
    #navBar ul {
        float: right;
    }
    
    #navBar li {
        display: inline;
    }
    
    #navBar li+li:before {
        content: " | ";
        padding: 0 5px;
        color: #777777;
    }
    
    footer {
        position: sticky;
        border-top: 8px solid #4aaaa5;
        background-color: #666666;
    }
    
    footer p {
        color: #d3d3d3;
        font-size: 11px;
    }
    
    header {
        display: flex;
        background-color: #ffffff;
        border-bottom: 2px solid #cccccc;
    }
    
    #myPhoto {
        float: center;
        width: 225px;
        height: 189px;
        margin-right: 20px;
        margin-bottom: 5px;
    }
    
    footer {
        position: sticky;
        border-top: 8px solid #4aaaa5;
        height: 30px;
        width: 960px;
        background-color: #666666;
        color: #777777;
        text-align: center;
        padding-bottom: 10px;
        font-family: 'Arial', 'Helvetica Neue', 'Helvetica', 'sans-serif';
    }
    
    #content {
        width: 910px;
        padding: 25px;
        margin: 25px 0px 25px 0px;
        background-color: #ffffff;
    }
    
    #content h1 {
        margin: 0px 0px 20px 0px;
        color: #4aaaa5;
    }
    
    #content hr {
        border: 2px solid #777777;
        margin-bottom: 20px;
    }
    
    p {
        font-family: 'Arial', 'Helvetica Neue', 'Helvetica', 'sans-serif';
        color: #777777;
        font-size: 18px;
        line-height: 28px;
    }